button {
  border: none;

  background-image: linear-gradient(315deg, rgb(61, 43, 184), #d0bfa9 74%);
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  box-shadow: #28313b 1px;
}

button:hover {
  background-color: rgb(61, 43, 184);
  background-image: linear-gradient(315deg, rgb(176, 176, 176), #28313b 74%);

}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(243, 61, 29);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}